body{
    font-family: "Comic Sans MS", "cursive", sans-serif;
    color: #8EADEA;
	background-color: #C0C0C0;
}

.column-left{ 
	float: left; width: 55%; 
}

.column-right{
	float: right; width: 55%; 
}

.column-center{
	display: inline-block; width: 33%; 
}